/* 
Navbar

color: rgb(255, 208, 208);
radial-gradient(rgb(160, 217, 224),rgb(119, 119, 235));
linear-gradient(#00838f, #439889);



App

background: linear-gradient(#00838f, #439889);
linear-gradient(#37aab4, #52bba8);
background-color: rgb(238, 170, 106);
background-color: rgb(145, 228, 214);
 */
